<!doctype html>
<html>

    <link rel="stylesheet" href="github.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
	<head>
		<meta charset="utf-8">
		<title>干员单挑系统</title>
        <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript" charset="utf-8"></script>
	</head>

	<body onload="draw('blood1');draw('blood2');">
        <div id="face">
            <span title="你们不是喜欢让干员单挑互相值班吗？来啊，值个痛！">
                <h1>干员单挑系统 v0.15</h1>
            </span>
            <p><b>v0.1</b><br>* Init: 初始版本：支持两个纯物理干员进行你一刀我一刀的互砍，暂未考虑攻击间隔</p>
            
            <p><b>v0.15</b><br>* Update: 使用 setInterval 函数来实现攻击了间隔的计算（存在微小误差，可能导致某干员死了之后还能多砍一两刀，不影响结果）
            <br>* New: 增加了两个小图标，提高辨识度</p>
            
            <p><b>v0.2</b><br>* New: 绘制矩形以实现血条的显示
		<br>* Fix：修复了死后可能多砍一刀的问题，同时把负值HP修正为0</p>
		
		<p>好啦好啦，这个其实就是做着玩儿的~<br>纯属娱乐，别真的上头值班噢  (￣▽￣)ノ</p>
        </div>
        
        <hr>
        
        <div id="app">
            <h2>数据设置</h2>
            
            <div>
                
                <h3>干员1 {{ char_1.name }}</h3>
                名称：<input v-model="char_1.name"><br>
                总血量：<input v-model="char_1.hp_max"><br>
                攻击力：<input v-model="char_1.atk"><br>
                防御力：<input v-model="char_1.def"><br>
                攻击间隔：<input v-model="char_1.atk_invl"><br>
            </div>
            
            <div>
                <h3>干员2 {{ char_2.name }}</h3>
                名称：<input v-model="char_2.name"><br>
                总血量：<input v-model="char_2.hp_max"><br>
                攻击力：<input v-model="char_2.atk"><br>
                防御力：<input v-model="char_2.def"><br>
                攻击间隔：<input v-model="char_2.atk_invl"><br>
            </div>
            <br>
            <button v-on:click="startBattle">开始战斗！</button>
            
            <hr>
            <h2>实时数据</h2>
            <table border="1">
                <tr>
                    <th>属性</td>
                    <th>干员1 {{char_1.name}}</td>
                    <th>干员2 {{char_2.name}}</td>
                </tr>
                <tr>
                    <td>血量</td>
                    <td><canvas id="blood1" width="100" height="10">您的浏览器不支持H5 canvas属性</canvas><br>{{char_1.hp}} / {{ char_1.hp_max }}</td>
                    <td><canvas id="blood2" width="100" height="10">您的浏览器不支持H5 canvas属性</canvas><br>{{char_2.hp}} / {{ char_2.hp_max }}</td>
                    
                </tr>
                <tr>
                    <td>攻击力</td>
                    <td>{{char_1.atk}}</td>
                    <td>{{char_2.atk}}</td>
                </tr>
                <tr>
                    <td>防御力</td>
                    <td>{{char_1.def}}</td>
                    <td>{{char_2.def}}</td>
                </tr>
                <tr>
                    <td>攻击间隔</td>
                    <td>{{char_1.atk_invl}}</td>
                    <td>{{char_2.atk_invl}}</td>
                </tr>
            </table>
            
            <p>{{ result }}</p>
            
            
            <hr>
            
            <h2>战斗记录</h2>
            <p>计时：{{ timer }}</p>
            <p v-html="log"></p>
            
            <hr>
            
            <p>Author: Moy</p>

        </div>
        
        <script>
            function draw(id) {
                var canvas = document.getElementById(id);
                
                if (canvas == null){
                    return false;
                }
                
                var context = canvas.getContext('2d');
                // context.fillStyle = "darkred";
                // context.fillRect(0, 0, 200, 6);
                context.fillStyle = "red";
                context.fillRect(0, 0, 100, 6);
                
                // var canvas = document.getElementById(id);
                // 
                // if (canvas == null){
                //     return false;
                // }
                // 
                // var context = canvas.getContext('2d');
                // context.fillStyle = "eeefff";
                // context.fillRect(0, 0, 200, 5);
                // context.fillStyle = "green";
                // context.strokeStyle = "red";
                // context.lineWidth = 1;
                // context.fillRect(50, 50, 100, 100);
                // context.strokeRect(50, 50, 100, 100);
                
            }
        </script>
        
        <script type="text/javascript">
            var data = {
                title: ':)',
                message: 'Hello, Vue!',
                author: "Moy",
                
                char_1 : {
                    name : "斯卡蒂",
                    hp_max : 3665,
                    hp : 3665,
                    atk : 933,
                    def : 263,
                    atk_invl : 1.5,
                    
                },
                
                char_2 : {
                    name : "赫拉格",
                    hp_max : 3825,
                    hp : 3825,
                    atk : 762,
                    def : 334,
                    atk_invl : 1.2,
                },
                
                log : "[战斗一触即发]",
                timer : 0,
                isBattling : true,
                winner : "[胜负未定]",
                result : "敬请期待结果……",
                
            };
            
            var methods = {
                    drawBlood : function(id, percent) {
                        var canvas = document.getElementById(id);
                        
                        if (canvas == null){
                            return false;
                        }
                        
                        var context = canvas.getContext('2d');
                        context.fillStyle = "darkred";
                        context.fillRect(0, 0, 100, 6);
                        context.fillStyle = "red";
                        context.fillRect(0, 0, percent * 100, 6);
                        
                    },
                    
                    // 左向右进攻
                    attack1to2 : function() {
                        if (this.isBattling){
                        
                        var dmg1 = this.char_1.atk - this.char_2.def;
                        
                        // 抛光
                        if (dmg1 < this.char_1.atk * 0.05) {
                            dmg1 = this.char_1.atk * 0.05;
                        }
                        
                        if (this.char_2.hp - dmg1 < 0) {
                            this.char_2.hp = 0;
                        } else {
                            this.char_2.hp -= dmg1;
                        }
                        
                        this.log += `>> 🐬 ${this.char_1.name} 对 ${this.char_2.name} 造成了 ${dmg1} 点伤害`;
                        this.log += `<br>    ${this.char_2.name} 剩余血量: ${this.char_2.hp} <br><br>`;
                        
                        this.drawBlood('blood2', this.char_2.hp / this.char_2.hp_max)
                        
                        // this.log += `>> ${this.char_1.name} 当前剩余血量：${this.char_1.hp}<br>`;
                        // this.log += `>> ${this.char_2.name} 当前剩余血量：${this.char_2.hp}<br>---<br>`;
                        
                        if (this.char_2.hp <= 0) {
                            this.winner = this.char_1.name;
                            this.result = `🐬 胜利者：${this.winner}`;
                            
                            this.isBattling = false;
                            
                            // alert(`🐬 ${this.char_1.name} 获得了最终胜利！`);
                            
                        }
                        }
                    },
                    
                    // 右向左进攻
                    attack2to1 : function() {
                        if (this.isBattling){
                        
                        var dmg2 = this.char_2.atk - this.char_1.def;
                        
                        // 抛光
                        if (dmg2 < this.char_2.atk * 0.05) {
                            dmg2 = this.char_2.atk * 0.05;
                        }
                        
                        if (this.char_1.hp - dmg2 < 0) {
                            this.char_1.hp = 0;
                        } else {
                            this.char_1.hp -= dmg2;
                        }
                        
                        
                        this.drawBlood('blood1', this.char_1.hp / this.char_1.hp_max)
                        
                        this.log += `<< 🦅 ${this.char_2.name} 对 ${this.char_1.name} 造成了 ${dmg2} 点伤害`;
                        this.log += `<br>    ${this.char_1.name} 剩余血量: ${this.char_1.hp} <br><br>`;
                        
                        // this.log += `<< ${this.char_1.name} 当前剩余血量：${this.char_1.hp}<br>`;
                        // this.log += `<< ${this.char_2.name} 当前剩余血量：${this.char_2.hp}<br>---<br>`;
                        
                        if (this.char_1.hp <= 0) {
                            this.winner = this.char_2.name;
                            this.result = `🦅 胜利者：${this.winner}`;
                            
                            this.isBattling = false;
                            
                            // alert(`🦅 ${this.char_2.name} 获得了最终胜利！`);
                        }
                        }
                    },
                    
                    timerCount : function () {
                        this.timer += 0.1;
                    },
                    
                
                    startBattle: function () {
                        
                        this.char_1.hp = this.char_1.hp_max;
                        this.char_2.hp = this.char_2.hp_max;
                        
                        this.log = "[开始战斗！]<br>";                  
                        
                        // 计时器
                        var intervalCount = setInterval( () => {
                            
                            this.timerCount();
                            
                            if (this.isBattling == false) {
                                clearInterval(intervalCount);
                            }
                            
                            
                        }, 100);
                        
                        
                        // 前者的攻击计算
                        var interval1 = setInterval( () => {
                            
                            this.attack1to2();
                            
                            if (this.isBattling == false) {
                                clearInterval(interval1);
                            }
                            
                            
                        }, this.char_1.atk_invl * 1000);
                        
                        
                        // 后者的攻击计算
                        var interval2 = setInterval( () => {
                            
                            this.attack2to1()
                            
                            if (this.isBattling == false) {
                                clearInterval(interval2);
                            }
                            
                            
                        }, this.char_2.atk_invl * 1000);
                        
                        
                    }
            };
            
            var vm = new Vue({
                el: '#app',
                data: data,
                methods: methods,
            });
            
            
        </script>
	</body>

</html>
